*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.azeret-mono-normal {
        font-family: "Azeret Mono";
        font-optical-sizing: auto;
        font-style: normal;
}
/* heading styling */
.head{
    width: 1440px;
    display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin: 0 auto;
 align-items: center;
 margin-top: 47px;
}
.head h5{
    color: rgb(0, 3, 9);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-left: 47px;
}
.head button{
    width: 228px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-right: 60px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* main section styling */
/* 1st section styling */
.first-section{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    border: 6px dashed rgb(177, 173, 173);
    margin-top: 47px;
}

.first-section-container{
    max-width: 100%;
    height: 100%;
    background-image: url(./assets/Hero-bg.png);
    background-size: auto;
    background-repeat: no-repeat;
}
.first-img{
   margin-left: 580px;
   margin-top: 26px;
}

.first-section-container h3{
    font-size: 40px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    margin-left: 221px;
}
.dev{
    font-size: 40px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    margin-left: 350px;
}
.first-section-container p{
    color: rgb(82, 82, 85);
    font-size: 16px;
    font-weight: 400;
    margin-left: 290px;
    margin-top: 24px;
}
.dev-p{
    margin-left: 330px;
}
.btn{
    width: 208px;
    height: 66px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: black;
    border-radius: 6px;
    margin-left: 600px;
    margin-top: 32px;
}
/* second-section styling*/

.second-section{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 48px;
    padding: 80px 97px;
    background-color:rgba(13, 19, 33, 0.02);
}
.second-section-container{
    width: 946px;
    height: 1245px;
    
}

.second-section-container h3{
    font-size: 32px;
    color: black;
    font-weight: 800;
    margin-left: 265px;
    line-height: 27px;
    margin-bottom: 24px;
}
.second-section-container p{
    color: rgb(82, 82, 85);
    font-size: 20px;
    font-weight: 400;
    margin-left: 47px;
    margin-top: 24px;
}

/* Second-section-frame-1 styling */
.second-section-frame-1{
    width: 946px;
    height:336px;
    margin-top: 40px;
    display: flex;
   
 }
 .frame-left{
     width: 580px;
     height: 220px ;
   
     display: flex;
     flex-direction: column;
     /* justify-content: center;
     align-items: center; */
}
 
 .frame-left h1 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-right: 50px;
    margin-left: 48px;
 }
 
 .frame-description {
    color: rgb(118, 119, 122);
    font-size: 16px;
    font-weight: 400;
   margin-right: 180px;
   text-align: left;
 }
 #btn{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(91, 88, 88);
    border: 1px solid black;
    
    margin-left: 48px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
 }
 .frame-right{
    width: 260px;
    height: 217px;
   margin-left: 80px;
   margin-top: 10px;
 }
/* second-section-frame-2 styling */
.second-section-frame-2{
    width: 946px;
    height:336px;
    margin-top: 40px;
    display: flex;
}
.frame-2-left{
    width: 260px;
    height: 217px;
   margin-left: 48px;
   margin-top: 10px;
}
.frame-2-right{
    width: 580px;
    height: 220px ;
    display: flex;
    flex-direction: column;
}
.frame-2-right h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-right: 50px;
    margin-left: 48px;
}
.frame-2-description{
    color: rgb(118, 119, 122);
    font-size: 16px;
    font-weight: 400;
   margin-right: 180px;
   text-align: left;
}
/* second-section frame-3 styling */
/* same as frame-1 */

/* Third-Section styling */
.third-section{
    width: 1140px;
    height: 775px;
     margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 150px;
}
.inspiration h1{
    font-size: 32px;
    color: black;
    font-weight: 800;
    margin-left: 425px;
    line-height: 27px;
    margin-bottom: 24px;
}
.inspiration p{
    color: rgb(118, 119, 122);
    font-size: 16px;
    font-weight: 400;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 48px;
}
.frame-youtube{
    position: static;
    width: 1140px;
    height: 614px;
    display: flex;
    flex-direction: column;
    margin:48px 0;
    border: 1px solid rgb(200, 192, 192);
    border-radius: 16px;
}
iframe{
    box-sizing: border-box;
     padding: 32px;
     border-radius: 50px;
}
/* Fourth-Section styling */
.fourth-section{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 110px;
}
.framework-container{
display: flex;
justify-content: space-between;
}
.frame-html {
    width: 364px;
    height: 300px;
    padding: 40px;
    margin: 0 24px;
    background-color: rgba(255, 76, 30, 0.1);
}
.frame-html img{
    margin-bottom: 15px;
}
a{
color: rgb(13, 19, 33);
margin-top: 30px;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;
}
.frame-css{
    width: 364px;
    height: 300px;
    padding: 40px;
    margin: 0 24px;
   background-color:  rgba(0, 76, 232, 0.1);
}
.frame-css img{
    margin-bottom: 15px;
}
.frame-js{
    width: 364px;
    height: 300px;
    padding: 40px;
    margin: 0 24px;
    background-color: rgba(241, 226, 128, 0.4);
}
.frame-js img{
    margin-bottom: 15px;
}

/* fifth-section styling */

.fifth-section{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-image:url(./assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 64px 48px;
    margin-bottom: 80px;
}


.support-section h1{
    color: rgb(255, 255, 255);
  font-size: 36px;
    font-weight: 700;
   text-align: center;
    margin-bottom: 14px ;
}

.support-section p{
 color: rgb(159, 158, 158);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;

text-align: center;

margin-bottom: 18px;
}

.btn-content{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-1{
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    margin: 0px 16px;
    box-sizing: border-box;
   border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
   color: rgb(176, 170, 170);
   text-align: left;
    background: rgb(255, 255, 255);
   font-weight: 400;
 Font-size: 16px;
}
.btn-2{
    position: static;
    width: 120px;
    height: 58px;
   padding: 17px 20px 17px 20px;
   margin: 0px 16px;
   border-radius: 8px;
   color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
}

/* footer section styling */
.footer{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 32px 150px 32px 150px;
    background: rgba(13, 19, 33, 0.1);
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.footer-container h3{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}
